<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
    <title>Minha Casa</title>
</head>
<body>
    <form action = "http://localhost:8080/deletar_sensor" method = "post">
        <select name = "sensor" id = "sensor" class = "sensor">
            {% for key, value in sensores.items() %}
            <option>{{ key }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <button type="submit" value="Deletar">Deletar</button>
    </form>
    <br>
    <br>
<a class="botao" href="/home">Home</a>
</body>
</html>


