<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Listar Atuadores</h1>
    <br>
    <ul>
        {% for key, value in atuadores.items() %}
        <li><a>{{ key }}</a></li>
        {% endfor %}
    </ul>
    <br>
    <br>
    <button onclick="window.location.href='/home'">Voltar</button>
</body>
</html>