<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Minha Casa</title>
</head>
<body>
    <form action = "http://localhost:8080/deletar_atuador" method = "post">
        <select name = "atuador" id = "atuador" class = "atuador">
            {% for key, value in atuadores.items() %}
            <option>{{ key }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <button type="submit" value="Deletar">Deletar</button>
    </form>
    <br>
    <br>
    <button onclick="window.location.href='/home'">Voltar</button>
</body>
</html>

