<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <form action = "http://localhost:8080/add_user" method = "post">
        <p>Usuario:</p>
        <p><input type = "text" name = "user" placeholder="User" required/></p>
        <p>Senha:</p>
        <p><input type = "text" name = "password" placeholder="Password" required/></p>
       
        <p><input type = "submit" value = "Cadastrar" /></p>
    </form>
    <br>
    <br>
    <a class="botao" href="/home">Home</a>
</body>
</html>

