<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <form action="http://localhost:8080/del_usuario" method="post">
        <h1>Remover</h1>
        <br>
        <br>
        <select name="usuario">
            {% for key, value in devices.items() %}
            <option>{{ key }}</option>
            {% endfor %}
        </select>
        <input class="botao" type="submit" value="Deletar">
    </form>
    <br>
    <br>
    <a class="botao" href="/home">Home</a>
</body>
</html>

