<html>
    <head>
        <title>Minha Casa</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
<body>
    <h1>MINHA CASA</h1>
    <h2>Acesse o menu:</h2>
    <br>
    <ul>
        <li><a class="botao" href="/registrar_usuario">Cadastrar Usuários</a></li>
        <li><a class="botao" href="/registrar_sensor">Cadastrar Sensores</a></li>
        <li><a class="botao" href="/registrar_atuador">Cadastrar Atuadores</a></li>
        <li><a class="botao" href="/usuarios">Listar Usuários</a></li>
        <li><a class="botao" href="/sensores">Listar Sensores</a></li>
        <li><a class="botao" href="/atuadores">Listar Atuadores</a></li>
        <li><a class="botao" href="/remover_usuario">Remover Usuario</a></li>
        <li><a class="botao" href="/remover_sensor">Remover Sensor</a></li>
        <li><a class="botao" href="/remover_atuador">Remover Atuador</a></li>
    </ul>
    <br>
    <br>
    <a class="botao" href="/">Voltar</a>
</body>
</html>
