<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <form action = "http://localhost:8080/adicionar_usuario" method = "post">
        <h1>Cadastrar</h1>
        <br>
        <br>
        <p><input type = "text" name = "usuario" placeholder="usuario@gmail.com" required/></p>
        <p><input type = "text" name = "password" placeholder="*****" required/></p>
        <p><input class="botao" type = "submit" /></p>
    </form>
    <br>
    <br>
    <a class="botao" href="/home">Home</a>
</body>
</html>

