<!-- remover_atuador.html -->
<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <form action="http://localhost:8080/del_atuador" method="post">
        <h1>Remover</h1>
        <br>
        <br>
        <select name="atuador">
            {% for device in devices %}
            <option>{{ device }}</option>
            {% endfor %}
        </select>
        <input class="botao" type="submit" value="Deletar">
    </form>
    <br>
    <br>
    <a class="botao" href="/home">Home</a>
</body>
</html>

