<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
    <title>Minha Casa</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <ul>
        <li><a class="botao" href="/sensores">Sensores</a></li>
        <li><a class="botao" href="/atuadores">Atuadores</a></li>
        <li><a class="botao" href="/400">Forçar Bad Request</a></li>
        <li><a class="botao" href="/401">Forçar Unauthorized</a></li>
        <li><a class="botao" href="/403">Forçar Forbidden</a></li>
        <li><a class="botao" href="/403">Forçar Page Not Found</a></li>
        <li><a class="botao" href="/405">Forçar Method Now Allowed</a></li>
        <li><a class="botao" href="/408">Forçar Request Timeout</a></li>
        <li><a class="botao" href="/429">Forçar Too Many Requests</a></li>
        <li><a class="botao" href="/500">Forçar Internal Server Error</a></li>
        <li><a class="botao" href="/503">Forçar Service Unavailable</a></li>
    </ul>
    {% endblock %}
</body>
</html>


