<!DOCTYPE html>
<html>
    <title>Sensores</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav>
        <a class="botao" href="/">Minha Casa</a>
    </nav>
    <div>
        <h1>Sensores</h1>
        <br>        
        <ul>
            <li>Sensor de Temperatura</li>
            <li>Sensor de Umidade</li>
            <li>Sensor de Luminosidade</li>
        </ul>
        <br>
        <br>
        <a class="botao" href="/">Voltar</a>
    </div>
</body>
</html>
