<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
    <title>Minha Casa</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <ul>
        <li><a class="botao" href="/registrar_usuario">Cadastrar Usuário</a></li>
        <li><a class="botao" href="/listar_usuarios">Listar Usuários</a></li>
        <li><a class="botao" href="/remover_usuario">Remover Usuário</a></li>
        <li><a class="botao" href="/registrar_sensor">Cadastrar Sensor</a></li>
        <li><a class="botao" href="/listar_sensores">Listar Sensores</a></li>
        <li><a class="botao" href="/registrar_atuador">Cadastrar Atuadores</a></li>
        <li><a class="botao" href="/listar_atuadores">Listar Atuadores</a></li>
        </ul>
        <br>
        <br>
        <a class="botao" href="/">Voltar</a>
    {% endblock %}
</body>
</html>


