<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Minha Casa</title>
</head>
<body>
    <form action = "http://localhost:8080/validar_usuario" method = "post">
        <input placeholder="Insira seu email:" type="email" name = "usuario">
        <br>
        <input placeholder="Insira sua senha:" type="password" name = "password">
        <br>
        <br>
        <button type="submit" value="submit">Login</button>
    </form>
</body>
</html>

