<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
    <title>Minha Casa</title>
</head>
<body>
    <h1>MINHA CASA</h1>
    <h2>Sensores e Atuadores do Banheiro:</h2>
    <ul>
        {% for sensor in sensores %}
        <li><a>{{ sensor }}</a></li>
        {% endfor %}
    </ul>
    <br>
    <ul>
        {% for atuador in atuadores%}
        <li><a>{{ atuador }}</a></li>
        {% endfor %}
    </ul>
    <br>
    <br>
    <a class="botao" href="/">Voltar</a>
</body>
</html>


