<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Minha Casa</title>
</head>
<body>
    <div>
        <div>
            <form action="http://localhost:8080/validar_usuario" method="post">
                <h1>Login</h1>
                <input placeholder="Insira seu email:" name="usuario" type="email" required>
                <input placeholder="Insira sua senha:" type="password" name="password" required>
                <button type="submit" value="submit">Logar</button>
            </form>
        </div>
    </div>
</body>
</html>


