<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
    <title>Minha Casa</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <form action = "http://localhost:8080/sensores/adicionar_sensor" method = "post">
        <input placeholder="Insira o nome do sensor:" name = "sensor">
        <br>
        <br>
        <button type="submit" value="Cadastrar">Cadastrar</button>
    </form>
    <br>
    <br>
    <button onclick="window.location.href='/home'">Voltar</button>
    {% endblock %}
</body>
</html>


