{% extends "base.html" %}
{% block content %}
<h2>Listar Atuadores</h2>
<div>
    <table>
        <thead>
            <tr>
                <th>Nome do Atuador</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in atuadores_lista.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<button onclick="window.location.href='/home'">Voltar</button>
{% endblock %}
