<html>
    <head>
        <title>Minha Casa</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
<body>
    <h1>MINHA CASA</h1>
    <h2>Acesse o menu:</h2>
    <br>
    <ul>
        <li><a class="botao" href="/register_user">Cadastrar Usuários</a></li>
        <li><a class="botao" href="/register_sensor">Cadastrar Sensores</a></li>
        <li><a class="botao" href="/actuators">Listar Atuadores</a></li>
        <li><a class="botao" href="/sensors">Listar Sensores</a></li>
        <li><a class="botao" href="/users">Listar Usuários</a></li>
        <li><a class="botao" href="/remove_user">Remover Usuario</a></li>
        <li><a class="botao" href="/remove_sensor">Remover Sensor</a></li>
    </ul>
    <br>
    <br>
    <a class="botao" href="/">Voltar</a>
</body>
</html>
