<!-- register_sensor.html -->
<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <form action = "http://localhost:8080/add_sensor" method = "post">
        <p>Nome do Sensor:</p>
        <p><input type = "text" name = "nome" placeholder="Nome" required/></p>
        <p>Tipo:</p>
        <p><input type = "text" name = "tipo" placeholder="Tipo" required/></p>
        <p><input type = "submit" value = "Cadastrar" /></p>
    </form>
    <br>
    <br>
    <a class="botao" href="/home">Home</a>
</body>
</html>

